  <form id="new-link">
    <label>URL:</label>
    <input id="link-url">

    <label>Title:</label>
    <input id="link-title">

    <input type="submit" value="Add Link">
  </form>

  <h2>Filters</h2>
  <label>By Text:</label>
  <input id="filter-text" type="text" name="filter-text" value="">
  <button type="button" id="filter-unread" name="filter-unread">Filter Unread</button>
  <button type="button" id="filter-read" name="filter-read">Filter Read</button>


  <div id="warning"></div>

  <div id="links-list">



  <% @links.each do |link| %>
    <div class='link' data-userId='<%= link.user_id %>' data-id='<%= link.id %>' id="link-<%= link.id %>">
      <p class="link-title">Title: <%= link.title %></p>
      <p class="link-url">URL: <%= link.url %></p>
      <p class="link_read">Read?: <%= link.read %></p>

      <p class="link_buttons">
        <button class="mark-read">Mark as Read</button>
        <button class='edit-link'>Edit</button>
      </p>

    </div>
  <% end %>
</div>
